# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Project specific
*.log
logs/
output/
uploads/


# 忽略特定文件，和文件夹
test_mongo.py/
图片文档/
项目说明文档.md
# 允许所有Excel文件
# *.xlsx
# !template*.xlsx
